<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pimator</title>
</head>
<body>
	<!-- page content -->
	<table>
    <tr>
      <th>Outlet</th>
      <th></th>
      <th></th>
    </tr>
    {% for outlet in codes %}
    <tr>
      <td>{{ outlet }}</td>
      {% for state in codes[outlet] %}
      <td>
        <form action="/outlet/{{ outlet }}/{{ state }}" method="post">
              <input type="submit" value="{{ state.capitalize() }}" />
        </form>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td>
        <form action="/outlet/all/on" method="post">
              <input type="submit" value="All On" />
        </form>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <form action="/outlet/all/off" method="post">
              <input type="submit" value="All Off" />
        </form>
      </td>
    </tr>
	</table>
</body>
</html>
